Pandas getting started

In [6]:
import pandas as pd

In [7]:
mydataset = {
    'cars' : ["BMW" , "Volvo" , "Ford"],
    'passings' : ["2" , "3" , "4"]
}

In [8]:
myvar = pd.DataFrame(mydataset)

In [9]:
print(myvar)

    cars passings
0    BMW        2
1  Volvo        3
2   Ford        4

want to know version

In [11]:
print(pd.__version__)

2.1.4

Pandas series

In [12]:
a = [1,4,7]
myvar = pd.Series(a)
print(myvar)

0    1
1    4
2    7
dtype: int64

In [13]:
print(myvar[1])

4

index labeling

In [14]:
a=["sandhya" ,"sai" ,"setty"]
myvar = pd.Series(a,index=["x","y","z"])
print(myvar)

x    sandhya
y        sai
z      setty
dtype: object

pandas dataframes

In [16]:
df = pd.read_csv("/Users/sandhya/Library/Containers/com.microsoft.Excel/Data/Downloads/archive (1)/BooksDataset.csv")

In [17]:
df.head(10)

,Title,Authors,Description,Category,Publisher,Publish Date,Price
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,"Friday, January 1, 1993",Price Starting at $8.79
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,"Sunday, March 1, 1981",Price Starting at $4.99
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,"Thursday, September 1, 1983",Price Starting at $4.99
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,"Monday, April 1, 1991",Price Starting at $4.99
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,"Saturday, February 1, 1997",Price Starting at $5.32
5,The Foundation of Leadership: Enduring Princip...,"By Short, Bo",NaN,NaN,Excalibur Press,"Wednesday, January 1, 1997",Price Starting at $6.06
6,Chicken Soup for the Soul: 101 Stories to Open...,"By Canfield, Jack (COM) and Hansen, Mark Victo...",NaN,"Self-help , Personal Growth , Self-Esteem",Health Communications Inc,"Saturday, May 1, 1993",Price Starting at $4.99
7,Journey Through Heartsongs,"By Stepanek, Mattie J. T.",Collects poems written by the eleven-year-old ...,"Poetry , General",VSP Books,"Saturday, September 1, 2001",Price Starting at $19.96
8,In Search of Melancholy Baby,"By Aksyonov, Vassily, Heim, Michael Henry, and...",The Russian author offers an affectionate chro...,"Biography & Autobiography , General",Random House,"Monday, June 1, 1987",Price Starting at $4.99
9,Christmas Cookies,"By Eakin, Katherine M. and Deaman, Joane (EDT)",NaN,"Cooking , General",Oxmoor House,"Sunday, June 1, 1986",Price Starting at $12.98

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103082 entries, 0 to 103081
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Title         103082 non-null  object
 1   Authors       103082 non-null  object
 2   Description   70213 non-null   object
 3   Category      76912 non-null   object
 4   Publisher     103074 non-null  object
 5   Publish Date  103082 non-null  object
 6   Price         103082 non-null  object
dtypes: object(7)
memory usage: 5.5+ MB

In [20]:
new_df = df.dropna()

print(new_df.to_string())

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

IOStream.flush timed out
IOStream.flush timed out

pandas correlation

In [22]:
df.corr()

ValueError: could not convert string to float: 'Goat Brothers'

In [23]:
df.plot()

TypeError: no numeric data to plot